<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<configurationStrings>
		<add name="Conexion_DB"
			 connectionString="Data Source=DESKTOP-NN738GS;Initial Catalog=DB_Sistema_Almacen;Integrated Security=True;Trust Server Certificate=True"
			 providerName="System.Data.SqlClient"/>
	</configurationStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>